<%= render "static_pages/search" %>

<% @forums.each do |f| %>
  <% if f.avatar.attached? %>
    <p><%= image_tag f.avatar, width: "200px" %></p>
  <% end %>
  <p><%= f.title %></p>
  <p><%= f.body %></p>
  <p><%= f.user_id %></p>
  <p><%= f.categories.map(&:name).sort.join(", ") %></p>
  <p><%= link_to "Show", forum_path(f) %></p>
  <p><%= link_to "Edit", edit_forum_path(f) %></p>
  <p><%= link_to "Delete", forum_path(f), data: {"turbo-method": :delete,
                                                turbo_confirm: "You sure?"} %></p>
<% end %>

<%= link_to "New", new_forum_path %>