<fieldset class="search-field">
  <legend>Search</legend>
  <%= search_form_for @search do |s| %>
    <div>
      <%= s.label :category %><br/>
      <%= s.collection_check_boxes :categories_id_in_any, Category.all, :id, :name do |c| %>
        <div class="collection-check-box">
          <%= c.check_box %>
          <%= c.label %>
        </div>
      <% end %>
    </div>
    <div class="actions">
      <%= s.submit "Search" %>
    </div>
  <% end %>
</fieldset>
<% @articles.each do |a| %>
  <% if a.avatar.attached? %>
    <p><%= image_tag a.avatar, width: "200px" %></p>
  <% end %>
  <p><%= a.title %></p>
  <p><%= a.body %></p>
  <p><%= a.user_id %></p>
  <p><%= a.categories.map(&:name).sort.join(", ") %></p>
  <p><%= link_to "Show", article_path(a) %></p>
  <p><%= link_to "Edit", edit_article_path(a) %></p>
  <p><%= link_to "Delete", article_path(a), data: {"turbo-method": :delete,
                                                 turbo_confirm: "You sure?"} %></p>
<% end %>

<%= link_to "New", new_article_path %>