<!DOCTYPE html>
<html>
  <head>
    <title>InvestProject2010</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <% if user_signed_in? %>
    <body class="bg-gray-800 flex">
      <aside class="w-64">
        <%= render "layouts/sidebar" %>
      </aside>
      <main class="w-5/6">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </main>
    </body>
  <% else %>
    <body class="bg-gray-800">
      <%= render "layouts/header" %>
      <main>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </main>
    </body>
  <% end %>
</html>
